.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.name-position {
  text-align: right;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #4a4a4a;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  border-top: 1px solid #ccc;
}

.profile-pic {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

.description {
  width: 45%;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
  color: #4a4a4a;
}

.description p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }

  .profile-pic {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .description {
    width: 80%;
  }
}
