.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 850px; 
  padding: 20px;
  color: #fff;
}

.about-me-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation-duration: 0.1s; /* Faster animation */
  animation-timing-function: ease-in-out; /* Adjust easing for snappier effect */
}

.about-me-paragraph {
font-size: 1.8em;
line-height: 1.6;
margin-bottom: 20px;
margin-top: -10px;
text-align: center;
opacity: 0; /* Start invisible */
animation-duration: 0.8s; /* Faster animation */
animation-timing-function: ease-in-out; /* Adjust easing for snappier effect */
animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.about-me-photo {
max-width: 130%;
height: auto;
margin-top: 20px;
border-radius: 8px;
filter: contrast(1.05);
opacity: 0; /* Start invisible */
animation-duration: 2s; /* Speed up image reveal */
animation-timing-function: ease-in-out; /* Snappier easing */
animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.animate__animated.animate__fadeInUp {
opacity: 1 !important; /* Ensure opacity is set to 1 when animation starts */
animation: revealFromTop 2s ease-in-out forwards; /* Faster reveal with snappier easing */
}

@keyframes revealFromTop {
0% {
  clip-path: inset(0 0 100% 0); /* Start with the image hidden from the top */
}
100% {
  clip-path: inset(0 0 0 0); /* Fully reveal the image */
}
}
