/* ContactHero.css */
.contact-hero-container {
    background-color: #000; /* Adjust to your background color */
    color: #fff;
    text-align: center;
    padding:30px 20px;
  }
  
  .contact-hero-heading {
    font-size: 3em;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #af6de6, #1854bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 3em; 
    display: inline-block;
  }

  /* Responsive Styles */
@media (max-width: 768px) {
  .contact-hero-heading {
    font-size: 2em; /* Decrease font size for smaller screens */
  }

  .gradient-text {
    font-size: 2em; /* Decrease font size for the gradient text as well */
  }
}

@media (max-width: 480px) {
  .contact-hero-heading {
    font-size: 1.8em; /* Further decrease font size for very small screens */
  }

  .gradient-text {
    font-size: 2.5em;  }
}
  