/* Remove default focus outline */
.contact-form input:focus,
.contact-form textarea:focus,
.submit-button:focus {
    outline: none;
}

.contact-me-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #000;
    color: #fff;
}

.contact-text {
    flex: 0.8;
    margin-right: 50px;
    opacity: 0; /* Start invisible */
    animation-duration: 1.5s; /* Slow down the animation */
    animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.contact-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

.contact-form {
    flex: 1;
    opacity: 0; /* Start invisible */
    animation-duration: -1s; /* Slow down the animation */
    animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #000;
    border: none;
    border-bottom: 1px solid #333;
    color: #fff;
    font-size: 1em;
}

.contact-form textarea {
    height: 100px;
}

.submit-button {
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    width: 23%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.submit-button:hover {
    background-color: #333;
}

.submit-button .arrow {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.submit-button:hover .arrow {
    transform: translateX(5px);
}

/* Add this for the intersection observer */
.animate-on-scroll {
  opacity: 0; /* Ensure elements are invisible initially */
}

.animate__animated.animate__fadeInUp {
  opacity: 1 !important; /* Ensure opacity is set to 1 when animation starts */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-me-container {
      flex-direction: column;
      padding: 30px 20px; /* Adjust padding for smaller screens */
    }
  
    .contact-text {
      margin-bottom: 20px; /* Space between text and form */
    }
  
    .submit-button {
      width: 100%; /* Full width button on smaller screens */

    }
  }
  
  @media (max-width: 480px) {
    .contact-text h2 {
      font-size: 1.5em; /* Smaller font size for headings */
    }
  
    .contact-text p {
      font-size: 1em; /* Smaller font size for paragraphs */
    }
  
    .submit-button {
      font-size: 16px; /* Smaller font size for the button */
    }
  }
  
  /* Ensure elements are invisible initially for animation */
  .animate-on-scroll {
    opacity: 0;
  }
  
  .animate__animated.animate__fadeInUp {
    opacity: 1 !important;
  }
  