.hero-container {
    position: relative; /* Create a positioning context for the image */
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    height: 80vh; /* Full viewport height */
    display: flex;
    justify-content: left; /* Align content to the left */
    align-items: flex-end; /* Center content vertically */
    text-align: left; /* Align text to the left */
    padding-left: 5rem; /* Add some padding on the left */
  }
  
  .text-container {
    display: inline-block;
    position: relative; /* Ensure text is above the image */
    margin-bottom: 50px;
    z-index: 1; /* Bring text in front of the image */
  }
  
  .title {
    font-size: 2.5rem; /* Adjust to match the smaller text */
    margin: 0; /* Remove default margin */
    margin-left: -2rem;
    margin-bottom: 1rem;
    line-height: 1.2; /* Adjust line height for proper spacing */
  }
  
  .subtitle {
    font-size: 8.5rem; /* Larger text size for the name */
    font-weight: bold; /* Bold style */
    margin: 0; /* Remove default margin */
    line-height: 1.2; /* Ensure consistent spacing */
  }
  
  .hero-image {
    position: absolute; /* Position the image absolutely within the container */
    margin-right: 35px;
    right: 0; /* Align the image to the right */
    bottom: 0; /* Align the image to the bottom */
    height: 110%; /* Make the image fill the height of the container */
    z-index: 1; /* Place the image behind the text */
    opacity: 0.7; /* Optional: Lower the opacity for a subtle effect */
  }

  @media (max-width: 768px) {
    .hero-container {
      height: 70vh;
    }

    .title {
      font-size: 1.5rem; /* Adjust the title font size for phones */
    }
  
    .subtitle {
      font-size: 2.6rem; /* Adjust the subtitle font size for phones */
      margin-bottom: 20%;
    }

    .hero-image {
      left: 50%; /* Move the image to the center */
      transform: translateX(-50%); /* Adjust its position to be perfectly centered */
      margin-right: 0; /* Remove the right margin */
      right: auto; /* Reset the right position */
      width: auto; /* Optionally adjust the width for better fit on smaller screens */
      height: auto; /* Adjust height to maintain aspect ratio */
      max-width: 100%; /* Ensure the image doesn’t exceed the container width */
      bottom: 0; /* Keep the image aligned to the bottom */
    }
  }