/* General styles for the navbar */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  animation-duration: 1s;
  animation-delay: 0.2s;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  position: relative; /* Position for menu toggle button */
  z-index: 2;
}

/* Logo container styling */
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.logo-container h2 {
  border: 2px solid #fff;
  padding: 7px 15px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
}

/* Navigation list styling for larger screens */
.nav-list {
  list-style-type: none;
  display: flex; /* Ensure nav items are shown on larger screens */
  margin: 0;
  padding: 0;
  opacity: 1; /* Make the nav visible */
  max-height: none; /* Ensure height is unrestricted */
  transition: none; /* Remove transition effects on larger screens */
}

.nav-link {
  display: inline-block; /* Ensure links are treated as blocks to apply width */
  min-width: 100px; /* Set a minimum width for consistency */
  padding: 8px;
  margin: 0 2vw; 
  background-color: #000;
  border: 2px solid transparent;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center; /* Center the text */
  box-sizing: border-box; /* Include padding and border in the total width */
}

.nav-link:hover {
  color: #ccc;
  border-color: #fff; /* Change border color on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    z-index: 110;
  }

  .logo-container {
    padding-right: 10px; /* Adjust space between logo and hamburger */
  }

  .menu-toggle {
    display: block; /* Ensure the burger menu is visible on mobile */
    background: none;
    border: none;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    padding-bottom: 10px; /* Maintain spacing below the hamburger */
    margin-right: 10px; /* Adjust right margin to keep away from nav options */
  }

  .nav-list {
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 100px; /* Increased to prevent cutting into the logo/hamburger */
    right: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Smooth out the transitions */
  }

  .nav-list.nav-list-open {
    max-height: 300px; /* Adjust based on your content's approximate height */
    opacity: 1; /* Fully visible */
    height: auto; /* Let height adjust based on content */
  }

  .nav-item {
    padding: 10px 20px;
    border-top: 1px solid #333;
  }

  /* Hidden class for mobile animations */
  .hidden {
    max-height: 0 !important;
    opacity: 0 !important;
  }
}

/* Hide the menu toggle on larger screens */
@media (min-width: 769px) {
  .menu-toggle {
    display: none; /* Hide burger menu on larger screens */
  }

  .hidden {
    opacity: 1 !important; /* Ensure nav is visible on larger screens */
    max-height: none !important; /* No restriction on height */
  }
}

