/* General styles for the navbar */
.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  animation-duration: 1s;
  animation-delay: 0.2s;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  position: relative; /* Position for menu toggle button */
}

/* Logo container styling */
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.logo-container h2 {
  border: 2px solid #fff;
  padding: 7px 15px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
}

/* Navigation list styling */
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
}

.nav-link {
  margin: 0 4vw;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.nav-link:hover {
  color: #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {

  .navbar {
    z-index: 110;
  }

  .logo-container {
    padding-right: 10px; /* Adjust space between logo and hamburger */
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    padding-bottom: 10px; /* Maintain spacing below the hamburger */
    margin-right: 10px; /* Adjust right margin to keep away from nav options */
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 100px; /* Increased to prevent cutting into the logo/hamburger */
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-list.nav-list-open {
    display: flex;
    max-height: none; /* Allow the list to expand fully */
    height: auto; /* Let height adjust based on content */
  }

  .nav-item {
    padding: 10px 20px;
    border-top: 1px solid #333;
  }
}

/* Hide the menu toggle on larger screens */
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}
